{% if page.title == "Home" %}
<header class="header--home">
    <div class="header-text">
        DEALICIOUS BLOG
    </div>
    <div class="header-text--white">
        BY DEVELOPERS
    </div>
    <div>
        딜리셔스 기술 블로그
    </div>
    <div class="deco-image"></div>
</header>
{% endif %}
{% if page.layout == "page" %}
<header class="header">
    <div class="header-text">
        <p class="header-text--title">{{ page.title }}</p>
        <p class="header-text--description"> {{ page.description }}</p>
        <div class="header-text--writer">
            {% for writer in page.writer %}
            <div class="post-list-item__bottom--writer">
                {{ writer }}{% if forloop.last %}{% else %},&nbsp{% endif %}
            </div>
            {% endfor %}
            <div class="split-line"></div>
            <div class="post-list-item__bottom--date">
                {{ page.date | date: "%Y.%m.%d"}}
            </div>
        </div>
    </div>
</header>
{% endif %}
