body {
  font-family: 'Nanum Gothic', sans-serif, SansSerif;
  padding: 0;
  margin: 0;
  color: white;
  line-height: 1.6em;
  blockquote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 64px 0;
    font-family: NotoSans;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    text-align: center;
    >p {
      color: #888888;
      margin: 0;
    }
    &::before {
      content: '';
      background: url("../../assets/image/default/img-20-1.svg") center;
      display: block;
      width: 20px;
      height: 20px;
      margin-bottom: 20px;
    }
    &::after {
      content: '';
      background: url("../../assets/image/default/img-20-2.svg");
      display: block;
      width: 20px;
      height: 20px;
      margin-top: 20px;
    }
  }

  h1, h2 {
    margin: 64px 30px 16px 0;
    font-family: NotoSansCJKkr;
    font-size: 24px;
    font-weight: bold;
    color: #222222;
  }
  a {
    color: #1976d2;
    background-color: transparent;
    text-decoration: underline;
  }
  ul, ol {
    padding-left: 1em;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    color: #222222;
    margin: 16px 0 24px;
    >li {
      margin: 0;
    }
  }
  p, li {
    margin: 16px 0 24px;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.69;
    letter-spacing: normal;
    color: #222222;
    >img{
      text-align: center;
      display: flex;
      max-width: 100%;
      padding: 20px;
      border: solid 2px #efefef;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;

      &+em {
        display: flex;
        justify-content: center;
        font-family: NotoSansCJKkr;
        font-size: 14px;
        font-style: normal;
        color: #888888;
        text-align: center;
        margin-top: 16px;
      }
    }
    >code {
      color: #00FFFF;
      background-color: #000A19;
      border-radius: 2px;
      font-size: 0.8em;
      margin: 0 2px;
      padding: 3px 5px;
    }
  }
  table {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    tr{
      th{
        background-color: #000A19;
        color: white;
        border: 1px solid #000A19;
        &+th {
          border-left: 1px solid white !important;
        }
      }
      td{
        border: 1px solid #000A19;
      }

    }
  }
}
main {
  display: flex;
}

.highlighter-rouge {
  padding: 10px;
  border: solid 2px #efefef;
  margin-bottom: 64px;
  &.language-plaintext {
    padding: 4px;
    border: none;
    margin-bottom: 0;
  }
}
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  @extend .flex-center-center;
  background-color: white;
  .header-text {
    color: #222222;
    padding-top: 40px;
    width: 840px;
    &--title {
      font-family: GmarketSans;
      font-weight: 500;
      line-height: 1.38;
      letter-spacing: -0.5px;
      font-size: 34px;
      margin-bottom: 12px;
    }
    &--description {
      margin-bottom: 24px;
      font-family: NotoSansCJKkr;
      line-height: 1.71;
      color: #666666;
      margin-top: 0;
      font-size: 14px;
    }
    &--writer {
      display: flex;
      align-items: center;
      font-family: NotoSans;
      margin-top: 0;
      font-size: 14px;
    }
  }
  &--home {
    background-image: linear-gradient(to right, #143EA9 , #20AEBB);
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    .deco-image {
      background: url("../../assets/image/default/bg-img@3x.png") no-repeat center;
      background-size: contain;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .header-text {
      padding-top: 19px;
      text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.08);
      font-family: Poppins;
      font-size: 55px;
      font-weight: bold;
      line-height: 0.96;
      text-align: center;
      color: #00ffff;
      &--white {
        @extend .header-text;
        color: white;
        padding-top: 0;
        margin-bottom: 19px;
      }
    }
  }
}
.footer {
  @extend .flex-center-center;
  padding-bottom: 41px;
  text-align: center;
  font-family: NotoSans;
  margin-top: 80px;
  font-size: 14px;
  color: #888888;
}

.navigation {
  background: white;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  height: 64px;
  justify-content: center;
  align-items: center;
  width: 100%;
  &--fixed {
    @extend .navigation;
    position: fixed;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);
  }
  .logo-image {
    width: 86px;
    height: 48px;
    margin-right: 4px;
  }
  &__list {
    margin: 0;
    width: 1024px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >ul {
      display: flex;
      list-style-type: disc;
      margin: 0;
    }
  }
  &__list-item {
    margin: 0;
    list-style: none;
    marker: none;
    &+& {
      margin-left: 24px;
    }
    a {
      display: flex;
      align-items: center;
      color: #222222;
      font-weight: bold;
      text-decoration: none;
      padding: 9px 12px;
      &:hover {
        color: #222222;
      }
    }
    &--sub-menu {
      @extend .navigation__list-item;
      >a {
        color: #aaaaaa;
      }
    }
  }
}
.contents-wrapper {
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  background: white;
  color: #000A19;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  @media (max-width: 720px) {
    align-items: flex-start;
  }
  .post {
    width: 840px;
    position: relative;
    &__button-area {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 64px;
    }
    &__button {
      outline: none;
      width: 200px;
      height: 56px;
      margin: 0 8px 0 0;
      border-radius: 4px;
      background-color: #104f68;
      font-size: 16px;
      color: white;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      &--share {
        @extend .post__button;
        color: #222222;
        margin: 0 0 0 8px;
        border: solid 1px #efefef;
        background-color: #fafafa;
      }
    }
  }
  .writer-info {
    margin-top: 64px;
    width: 100%;
    padding: 24px 0;
    display: flex;
    align-items: center;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    & + .writer-info {
      margin-top: 20px;
    }

    &__image {
      width: 64px;
      height: 64px;
      object-fit: cover;
      border-radius: 32px;
      margin-right: 16px;
    }
    &__bubble {
      position: relative;
      p {
        margin: 0;
      }
    }
    &__title {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #888888;
      &--name {
        @extend .writer-info__title;
        font-weight: bold;
        color: #222222;
      }
    }
    &__comment {
      margin-top: 12px;
      font-size: 14px;
      color: #222222;
    }
  }

  .post-list {
    margin: 0;
    padding: 0;
    max-width: 720px;
    .post-list-item {
      margin: 0;
      >a {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        &:hover {
          .post-list-item__title {
            color: #0C3F53;
          }
        }
        img {
          align-self: center;
          box-sizing: border-box;
          object-fit: cover;
          width: 120px;
          height: 120px;
          border-radius: 4px;
          border: solid 1px #e0e0e0;
          margin-left: 32px;
        }
      }
      list-style: none;
      padding: 32px 0;
      border-top: 1px solid #efefef;
      &:first-child {
        margin-top: 8px;
        border-top: none;
      }
      &__tag-list {
        display: flex;
      }
      &__tag-item {
        margin-right: 24px;
        font-family: NotoSansCJKkr;
        font-size: 14px;
        font-weight: bold;
        color: #104f68;
        :last-child {
          margin-right: 0;
        }
        &--link {
          text-decoration: none;
          color: #104f68;
        }
      }
      &__title {
        margin-top: 14px;
        font-family: GmarketSans;
        letter-spacing: -0.5px;
        font-size: 26px;
        font-weight: 500;
        color: #222222;
        margin-bottom: 12px;
      }
      &__description {
        margin-bottom: 15px;
        font-family: NotoSansCJKkr;
        font-size: 14px;
        line-height: 1.71;
        color: #666666;
      }
      &__bottom {
        display: flex;
        align-items: center;
        font-family: NotoSansCJKkr;
        font-size: 14px;
        color: #888888;
        pointer-events: none !important;
      }
    }
  }
}
.split-line{
  width: 1px;
  height: 12px;
  margin: 0 8px 0;
  background-color: #d8d8d8;
}
.pagination {
  display: flex;
  margin-top: 82px;
  &__button {
    width: 40px;
    height: 40px;
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #e0e0e0;
    border-radius: 20px;
    background-color: #ffffff;
    text-decoration: none;
    color: #222222;
    &--select {
      @extend .pagination__button;
      background-color: #104f68;
      color: white;
    }
  }
}
.scroll-top-button {
  opacity: 0;
  outline: none;
  position: fixed;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  width: 48px;
  height: 48px;
  padding: 8px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 24px;
  transition: opacity 0.3s;
  background: url("../image/default/ic-arrow-up-gray-900-32.svg") no-repeat center;
}

.tag-area {
  margin-top: 64px;
  &--index {
    margin-top: 0;
    padding-top: 40px;
    min-width: 240px;
    max-width: 240px;
    margin-left: 64px;
  }
  &__title {
    font-family: NotoSans;
    font-size: 18px;
    font-weight: bold;
    color: #222222;
    margin-bottom: 16px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  &__item {
    position: relative;
    list-style: none;
    padding: 0 12px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background-color: #f6f6f6;
    font-family: NotoSans;
    margin-right: 8px;
    margin-bottom: 8px;
    &:hover {
      background: rgba(0, 0, 0, 0.04);
      &::after {
        content: '';
        position: absolute;
        top: 0;
        border-radius: 16px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.04);
        display: block;
        pointer-events: none;
      }
    }
    &--link {
      color: #666666;
      text-decoration: none;
    }
  }
}
.tag-title {
  margin: 48px 6px 50px 0;
  font-family: GmarketSansBold;
  font-size: 30px;
  font-weight: bold;
  color: #232323;
  text-align: left;
  &--count {
    font-family: GmarketSans;
    font-size: 30px;
  }
}
.home-container {
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
}