---
---
@import "main";
@import "rouge";

@font-face {
  font-family: "DoHyeon";
  src: url('../fonts/DoHyeon-Regular.ttf') format( 'truetype');
}

@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-Bold.ttf') format( 'truetype');
}
@font-face {
  font-family: "GmarketSans";
  src: url('../fonts/GmarketSansTTFMedium.ttf') format( 'truetype');
}
@font-face {
  font-family: "GmarketSansBold";
  src: url('../fonts/GmarketSansTTFBold.ttf') format( 'truetype');
}
@font-face { font-family: "ONEMobileTitle"; src: url("../fonts/ONEMobileTitle.ttf") format("truetype"); }
@font-face {
  font-family: "ONEMobileTitle";
  font-weight: bold;
  src: url("../fonts/ONEMobileTitle.ttf") format("truetype");
}
