<!doctype html>
<html>
<head>
    {% include og.html %}
    <script src="/assets/js/scrollTop.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta charset="utf-8">
    <title>딜리셔스 기술 블로그-{{ page.title }}</title>
</head>
<body>
<div class="navigation__top"></div>
<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__list-item">
            <a href="/">
                <img class="logo-image" src="/assets/image/default/img-logo-dealiciou-86.svg" >
                기술 블로그
            </a>
        </li>
        <ul>
            <li class="navigation__list-item--sub-menu">
                <a href="https://www.dealicious.kr/" target="_blank">HOMEPAGE</a>
            </li>
            <li class="navigation__list-item--sub-menu">
                <a href="https://www.notion.so/e8747fb16efe4f1ba7747e7f96f9d373" target="_blank">RECRUIT</a>
            </li>
        </ul>
    </ul>
</nav>
{% include header.html %}
<section class="contents-wrapper">
    {{ content }}
</section>
<footer class="footer">
    Copyright © Dealicious Corp.
</footer>
{% include topButton.html %}
</body>
</html>