---
layout: default
---
<div class="post">
    <div class="post__contents">
        {{ content }}
    </div>
    {% for writer in page.writer %}
    {% assign writerData = site.data.writers[writer]  | default: site.data.writers["default"] %}
    <div class="writer-info">
        <img class="writer-info__image" src="{{ writerData.thumbnail }}">
        <div class="writer-info__bubble">
            <div class="writer-info__title">
                <p>{{ writerData.name }}</p>
                <div class="tablet-hide split-line"></div>
                <p class="writer-info__career">{{ writerData.career }}</p>
            </div>
            <p class="writer-info__comment">"{{ writerData.comment }}"</p>
        </div>
    </div>
    {% endfor %}
    {% if page.tags != blank %}
        <div class="tag-area">
            <div class="tag-area__title">Tag</div>
            {% for tag in page.tags %}
            <li class="tag-area__item">
                <a class="tag-area__item--link" href="/tags/{{ tag | slugify }}/"> {{ tag }} </a>
            </li>
            {% endfor %}
        </div>
    {% endif %}
    <div class="post__button-area">
        <button onclick="window.history.back()" class="post__button">
            목록으로
        </button>
        <button onclick="copyLocation()" class="post__button--share">
            공유하기
        </button>
    </div>
</div>
