---
layout: default
---
<div class="post">
    <div>
        {{ content }}
    </div>
    {% assign writer = site.data.writers[page.writer]  | default: site.data.writers["default"] %}
    <div class="writer-info">
        <img class="writer-info__image" src="{{ writer.thumbnail }}">
        <div class="writer-info__bubble">
            <div class="writer-info__title">
                <p>{{ writer.name }}</p>
                <div class="split-line"></div>
                <p>{{ writer.career }}</p>
            </div>
            <p class="writer-info__comment">"{{ writer.comment }}"</p>
        </div>
    </div>
    {% if page.tags != blank %}
        <div class="tag-area">
            <div class="tag-area__title">Tag</div>
            {% for tag in page.tags %}
            <div class="tag-area__item">
                {{ tag }}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="post__button-area">
        <button onclick="window.history.back()" class="post__button">
            목록으로
        </button>
        <button onclick="copyLocation()" class="post__button--share">
            공유하기
        </button>
    </div>
</div>
